@import "tailwindcss";
@import "tw-animate-css";

@variant dark (&:where(.dark, .dark *));

@theme {
  --color-text: var(--text);

  --color-background: var(--background);

  --color-primary: var(--primary);

  --color-secondary: var(--secondary);

  --color-accent: var(--accent);
}

@layer base {
  :root {
    --text: #2e1305;
    --background: #fef8f6;
    --primary: #813d1d;
    --secondary: #e5ea62;
    --accent: #a3d71d;
  }
  .dark {
    --text: #fadfd1;
    --background: #090301;
    --primary: #e29e7e;
    --secondary: #999d15;
    --accent: #ade228;
  }
}


